*.iml
*.ipr
*.iws
.DS_Store
.cache
.classpath
.gradle
.idea
.project
.scala_dependencies
.settings
.springBeans
bin
build
build*.log
classes
genjs
node_modules
npm-debug.log
target
out
app-staging
apigateway/reports
browserapp/reports
loginapp/reports
local_developer_config

js-frontend/node_modules
js-frontend/build
js-frontend/dist
js-frontend/dist-intermediate



/web/web.log
*.log
*.pid
