*.iml
*.ipr
*.iws
.DS_Store
.cache
.classpath
.gradle
.idea
.project
.scala_dependencies
.settings
.springBeans
bin
build
build*.log
classes
genjs
node_modules
npm-debug.log
target
out
app-staging
apigateway/reports
browserapp/reports
loginapp/reports
local_developer_config


/web/web.log
